@import "../../../App";

.news {
  max-width: 930px;

  &__header {
    font-size: 38px;
    margin: 20px 0 16px 32px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    &-item {
      position: relative;
      width: 47%;
      background-color: #d3d3d3;
      padding: 32px;
      border-radius: 8px;

      .item__importance {
        position: absolute;
        left: 0;
        top: 0;
        width: -webkit-fill-available;
        border-radius: 8px 8px 0 0;
        height: 25px;
      }

      .item__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          margin: 0;
        }
      }

      .item__text {
        margin: 10px 0;
        max-height: 123px;
        overflow: hidden;
      }
    }
  }
}

.addNews {
  background-color: $primary;
  padding: 30px 50px;
  border-radius: 15px;
  color: whitesmoke;

  &__title {
    display: flex;
    place-items: center;
    gap: 10px;

    &-text {
      margin: 0;
      font-size: 22px;
      font-weight: 700;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .news-input {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    &-importance {
      h4 {
        margin: 15px 0;
      }

      .importance {
        display: flex;
        gap: 25px;

        &__item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          padding-bottom: 5px;

          .circle {
            margin: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }

          .green-circle {
            background-color: green;

          }

          .yellow-circle {
            background-color: yellow;

          }

          .red-circle {
            background-color: red;

          }
        }
      }
    }

    &-content {
      resize: none;
      height: 120px;
    }

    &-submit {
      margin-top: 10px;
      width: 250px;
      font-size: 18px;
      margin-inline: auto;
      padding: 8px;
      color: white;
      border: 2px solid white;
      background-color: transparent;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.empty {
  font-weight: 600;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 50px;
}

.full {
  max-width: 930px;
  margin: 25px 0;
  padding: 30px 50px 45px;
  background-color: lightgrey;
  border-radius: 40px;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;

    &-title {
      max-width: 700px;
      line-height: 1;
      font-size: 44px;
    }

    &-line {
      margin: 0 auto;
      width: 150px;
      height: 5px;
    }
  }

  &__main {
    margin-top: 30px;
    &-info {
      font-family: monospace;

    }

    &-content {

    }
  }
}