.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, .4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: .5s;

  &.active {
    opacity: 1;
    pointer-events: all;
    cursor: initial;
  }

  &__content {
    padding: 40px 20px;
    border-radius: 12px;
    transform: scale(.5);
    transition: .4s all;
    width: 25vw;

    &.active {
      transform: scale(1);
    }
  }
}

