@import "../../App";

.news {
  max-width: 930px;
  margin-bottom: 50px;

  &__title {
    margin: 20px 0 16px 32px;

    h1 {
      font-size: 38px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    &-item {
      position: relative;
      word-break: break-word;
      width: 47%;
      background-color: #d3d3d3;
      box-shadow: 0 0 20px rgb(0 0 0 / 65%);
      padding: 32px;
      border-radius: 8px;

      .item__importance {
        position: absolute;
        left: 0;
        top: 0;
        width: -webkit-fill-available;
        border-radius: 8px 8px 0 0;
        height: 25px;
      }

      .item__title {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 10px;

        h2 {
          margin: 0;
        }
      }

      .item__text {
        margin: 10px 0;
        max-height: 123px;
        overflow: hidden;
      }
    }
  }
}

.addNews {
  background-color: $primary;
  padding: 30px 50px 40px;
  border-radius: 15px;
  color: whitesmoke;
  box-shadow: 0 0 20px rgb(0 0 0 / 65%);

  &__title {
    display: flex;
    place-items: center;
    gap: 10px;
    margin-bottom: 10px;

    &-text {
      margin: 0;
      font-size: 22px;
      font-weight: 700;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .news-input {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    &-importance {
      h4 {
        margin: 15px 0;
      }

      .importance {
        display: flex;
        gap: 25px;

        &__item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          padding-bottom: 5px;

          .circle {
            margin: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            box-shadow: inset -2px 4px rgb(0 0 0 / 25%);
          }

          .green-circle {
            background-color: green;

          }

          .yellow-circle {
            background-color: yellow;

          }

          .red-circle {
            background-color: red;

          }
        }
      }
    }

    &-content {
      resize: none;
      height: 120px;
    }

    &-submit {
      margin-top: 10px;
      width: 250px;
      font-size: 18px;
      margin-inline: auto;
      padding: 8px;
      color: white;
      border: 2px solid white;
      background-color: transparent;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.empty {
  font-weight: 600;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 50px;
}

.full {
  max-width: 930px;
  margin: 25px 0;
  padding: 30px 50px 45px;
  background-color: lightgrey;
  border-radius: 40px;
  box-shadow: 0 0 20px rgb(0 0 0 / 65%);

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;

    &-title {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 700px;
      line-height: 1;
      font-size: 44px;

      .title-line {
        margin: 0 auto;
        width: 50%;
        height: 5px;
      }
    }
  }

  &__main {
    margin-top: 30px;

    &-info {
      display: flex;
      align-items: center;
      gap: 20px;

      p {
        font-family: monospace;
      }
    }

    &-content {
      margin-top: 15px;
      word-wrap: break-word;
    }

    &-details {
      display: flex;
      gap: 20px;
      opacity: .6;
      font-size: 18px;
      margin-top: 20px;

      li {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    &-comments {
      margin-top: 20px;
      h2 {
        font-size: 44px;
        margin-bottom: 15px;
      }
      textarea {
        width: 100%;
        height: 70px;
        outline: none;
        border: none;
        resize: none;
        border-radius: 8px;
        padding: 10px;
      }
    }
  }
}

.comment {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;

  &__info {
    display: flex;
    flex-direction: column;

    &-text {
      opacity: .8;
    }
  }

}

.title {
  input {
    font-size: 42px;
    font-weight: 900;
  }

  div {
    &:before,
    &:after {
      display: none;
    }
  }
}

.image {
  width: 100%;
}

.tags {
  margin: 15px 0;
}

.buttons {
  display: flex;

  button {
    margin-right: 15px;
  }
}