$white: #fff;
$black: #000;
$lightGrey: rgb(82, 83, 85);
$lightBlack: #17191d;

$primaryBorder: 2px solid #5f6368;
$secondaryBorder: 2px solid rgb(161, 66, 244);
$whiteBorder: 2px solid $white;
$boxShadow: 0 1px 2px 0 rgba(0, 0, 0, 60%), 0 2px 6px 2px rgba(0, 0, 0, 30%);

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $lightGrey;
    border-radius: 5rem;
  }
}

.wrapper {
  display: flex;

  &__content {
    padding-left: 60px;
    border-left: 1px solid;
    height: 100vh;
  }
}

a {
  text-decoration: none;
  color: initial;
}

